allow hal_gnss_default self:socket { create read write };

allow hal_gnss_default location_data_file:dir search;
allow hal_gnss_default location_data_file:fifo_file create_file_perms;

allow hal_gnss_default qmux:unix_stream_socket connectto;
allow hal_gnss_default qmuxd_socket:dir { add_name write };
allow hal_gnss_default qmuxd_socket:sock_file { create setattr write };
allow hal_gnss_default qmuxd_socket:dir search;

allow hal_gnss_default self:netlink_socket { write bind create read };

allow hal_gnss_default vndbinder_device:chr_file { ioctl open read write };

allow hal_gnss_default sysfs:file { read open };
allow hal_gnss_default sysfs_ssr:dir r_dir_perms;

dontaudit hal_gnss_default self:udp_socket create;
dontaudit hal_gnss_default self:socket ioctl;

